---
- name: Update the RawPreferencesServer config file's couchdb address
  replace:
    dest: "{{ nodejs_app_install_dir }}/gpii/node_modules/rawPreferencesServer/configs/production.json"
    regexp: 'http://localhost:5984'
    replace: 'http://{{ preferences_server_couchdb_host_address }}'
  notify: Restart the application systemd unit

- name: Update the RawPreferencesServer config file's endpoint for retrieving preferences
  replace:
    dest: "{{ nodejs_app_install_dir }}/gpii/node_modules/rawPreferencesServer/configs/production.json"
    regexp: '/user/%userToken'
    replace: '/preferences/%userToken'
  notify: Restart the application systemd unit
